<% provide(:title, "Contact") %>
<!--<h1>Contact</h1>-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <h1 style="color :blue;">Please Contact Help Desk!</h1>
  
  <!--<% "Please Contact Administrator" %>-->
  <!--<% "Either go to reception" %>-->
  
  <!---FIXMEContact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.-->
