<% provide(:title, "Contact") %>
<!--<h1>Contact</h1>-->

  <h1 style="color :blue;">Please Contact Help Desk!</h1>
  
  <!--<% "Please Contact Administrator" %>-->
  <!--<% "Either go to reception" %>-->
  
  <!---FIXMEContact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.-->
