<% provide(:title, "Available Classes") %>
<h1>Classes</h1>
<style>
  .test {
    float: left;
  }
</style>
  <!--Get help on the Ruby on Rails Tutorial at the 
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a-->
  <div class="test">Diabetes Classes</div>
  <div>
    <%= link_to image_tag("diebetes.jpg", alt: "Rails logo", style: "width:100px;height:100px;"),
              'http://rubyonrails.org' %>
  </div><br>
  <div class="test">Yoga Classes</div>
  <div>
  <%= link_to image_tag("yoga.jpg", alt: "Rails logo", style: "width:100px;height:100px;"),
              'http://rubyonrails.org' %>
  </div>